body {
  background-color: #eaeae1;
  font-family: 'VT323', monospace;
}



.site-title {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  font-size: 6em;
}

.site-title a {
  color: #eaeae1;
  text-decoration: none;
}

header {
  background-color: #4b4f56;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  position: fixed;
}

.nav-list {
  list-style-type: none;
}

.nav-list a {
  color: #eaeae1;
  font-size: 2em;
  text-decoration: none;

}

.banner-img {
  float: left;
}

.site-nav {
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.main-content {
  margin-top: 150px;
  text-align: center;
}

.user-form {
  margin: 250px auto;
  border: 2px solid black;
  padding: 15px;
  width: 15%;
}

.user-form * {
  margin: 0 auto;
  text-align: center;
}

.about {
  margin: 250px auto;
  width: 20%;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
}

.about a {
  color: #4b4f56;
}

#cold-one-button {
  margin: 250px auto;
  text-align: center;
  width: 235px;
  height: 75px;
  font-size: 2em;
  color: #4b4f56
}

#cold-one-button:hover {
  background-color: #b6c4db;
}

a:hover {
  color: #b6c4db;
}

*, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-6/cur558.cur), progress !important;}
