<div class="main-content">
  <article class="about">
    <h2 class="page-header">About</h2>
      <p>Cold Ones is here to help you find the best beer, wherever you are. <a href="/users/new">Register</a> or <a href="/sessions/new">log in</a> now to find a cold one near you.</p>
      <br>
      <span>Cheers &#x1F37B;</span>
  </article>




</div>
