<div class="main-content">

  <form action='cold_one' class="cold-one-form">
    <input type="text" name="city" placeholder="city">
    <input type=submit id="cold-one-button" value="Find a Cold One ðŸº">
  </form>


</div>
